<div class="main">
  <mat-toolbar class="tool">
    <div class="tool-heading">
      
      <!--Printing Json Data for the Title -->
      <span class="create">{{JsonData.TASK}}</span> {{JsonData.LIST}}
    </div>
  </mat-toolbar>

  <div class="bodyarea">

    <!-- Adding INPUT FIELD  and BUTTON using form -->
    <form class="example-form">
      <input type="text" id="task" placeholder="Add your task here" name="task" [(ngModel)]="inputField">
      <button type="submit" (click)="submit(inputField)">+</button>
    </form>

    <!-- For Printing our Data in Table Format -->
    <table>
      <tbody>
        <tr *ngFor="let data of ELEMENT_DATA,let i=index">
          <td>{{data.title}}</td>
          <td> <mat-icon aria-label="Example delete icon" (click)=delete(i,data.id)>delete</mat-icon></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>